html, body {
  height: 100%; /* Set the height of the body and html to 100% */
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling */
}

.gallery-container {
  width: 100%; /* Set the width of the gallery to 100% */
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.gallery {
  height: 100%; /* Set the height of the gallery */
}

.image-wrapper {
  height: calc(100% - 20px); /* Keep some space at the bottom */
  overflow: hidden; /* Hide overflow to ensure neat display */
}

.gallery img {
  width: 100%; /* Make images take full width */
  height: 100%; /* Keep full height */
  object-fit: cover; /* Cover the entire area while maintaining aspect ratio */
}